.onlyoffice-settings-notice {
	max-width: 542px;
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-color: #72aee6 !important;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 1px 12px;
	margin: 5px 0 15px;
}

.onlyoffice-setting-confirm-dialog-content {
	margin: 25px;
}
